# Project ignore files
/.settings
/.idea
/.classpath
/.project
*.iml

/.tomcatplugin
/.target
/work
/.src/main/webapp/.#webclasspath

target/
/out/
atp-biz/src/test/
atp-dao/src/test/java/
atp-model/src/main/resources/
atp-model/src/test/
lib/
